body{
    background: #F8F8FF;
    color: #483D8B;
}
.wrapper {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    font: 800 100px/40px 'Lucida Console', monospace;
}
ol {
    list-style: none;
    font: 400 40px/60px 'Lucida Console', monospace;
    color:  #191970;
}
.timer_button {
    margin-top: 50px;
    width: 130px;
    height: 50px;
    color: #000;
    font-size: 30px;
    background-color: #E6E6FA;
    border-radius: 10px;
}
.timer_button:hover {
    background-color: #D6D6FA;
}
.timer_button:focus {
    outline:none;
}    
